/* Fonts 字体 */

/* 字体图标 */
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/* Variables  变量*/
@import 'variables';

/* Bootstrap */
@import '~bootstrap/scss/bootstrap';

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1300px;
  }
}
/* 普遍样式 */
body {
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;
}

/* 头部导航 */
.navbar-static-top {
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
  border-top: 4px solid #00b5ad;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 30px;
  margin-top: 0px;
}

/* Sticky footer styles 粘性页脚样式 */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height 页脚底边距 */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here 在此处设置页脚的固定高度 */
  height: 60px;
  background-color: #000;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}

/* User register page 注册页面样式 */
.register-page , .login-page , .password-request-page , .verification-notice-page , .password-reset-page{
  img.captcha {
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 4px;
    float: right;
  }
  #captcha {
    width: 180px;
    float: left;
  }
}

/**
 * 分类选择弹框页
 */
.web-categories-popup_list-page{
  .container{
    padding: 0px;
  }
}

.zf-comments-list{
  img{
    height: 64px;
    width: 64px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
  }
  .media{
    padding-top: 0.8rem ;
    .media-body{
      min-height: 64px;
    }
  }
}

.mt-30{
  margin-top: 30px;
}

.mb-30{
  margin-bottom: 30px;
}

.mb-90{
  margin-bottom: 90px;
}
.pb-15{
  padding-bottom:15px;
}

.pb-30{
  padding-bottom:30px;
}
